<div
  class="container bg-white shadow-1 pt-4 pb-4 padding-card hover-card hover:bg-primary cursor-pointer"
  [routerLink]="infoCard.routing"
>
  <div class="flex flex-column">
    <div class="flex justify-content-center m-1 mt-3">
      <span
        class="icon"
        [ngClass]="infoCard.icon"
        style="font-size: 60px"
      ></span>
    </div>
    <div class="mt-6">
      <div class="flex justify-content-between">
        <h2 style="width: 80%">{{ infoCard.title }}</h2>
        <span
          class="fa-solid fa-circle-arrow-right fadein animation-duration-300"
          style="font-size: 30px"
        ></span>
      </div>
      <p
        class="body5"
        [ngClass]="{
          'product-conf': infoCard.title == 'Product configuration',
          option: infoCard.title != 'Product configuration'
        }"
        style="margin-top: 7px"
      >
        {{ infoCard.descriptions }}
      </p>
    </div>
  </div>
</div>
